<div id="<%= dom_id location %>">
  <p>
    <strong>Name:</strong>
    <%= location.name %>
  </p>

  <p>
    <strong>Line 1:</strong>
    <%= location.line_1 %>
  </p>

  <p>
    <strong>City:</strong>
    <%= location.city %>
  </p>

  <p>
    <strong>State:</strong>
    <%= location.state %>
  </p>

  <p>
    <strong>Zip code:</strong>
    <%= location.zip_code %>
  </p>

</div>
